@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-primary: #00D1FF;
    --brand-secondary: #7000FF;
  }

  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
    font-family: 'Raleway', sans-serif;
  }

  /* Customização de Scrollbar para nível Sênior */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full hover:bg-brand-primary transition-colors;
  }
}